.general-images {
  display: flex;
  gap: 15px;
  width: 48%;
  height: 400px;
}

.left-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-images img {
  width: 100%;
  height: calc((100% - 10px) / 2);
  object-fit: cover;
  border-radius: 5px;
}

.right-images {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.right-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
