.property-info {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.property-info h1 {
  font-size: 2rem;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.property-info p {
  font-size: 1rem;
  line-height: 1.5;
}
